body {
  background-color: rgb(234, 253, 255);
}
p {
  color: rgb(0, 0, 0);
}
h1 {
  color: rgb(91, 218, 250);
}
hr {
  border-style: none;
  border-top: dotted;
  border-color: rgb(89, 80, 80);
  border-width: 5px;
  width: 5%;
}
li {
  font-size: medium;
}
